<a href="https://colab.research.google.com/github/Pattiecodes/DataCamp_As.AIEng/blob/main/Module_6_Intermediate_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# --- Module Start ---

# Learning to COUNT()
You saw how to use COUNT() in the video. Do you remember what it returns?

Here is a query counting film_id. Select the answer below that correctly describes what the query will return.

SELECT COUNT(film_id) AS count_film_id
FROM reviews;
Run the query in the console to test your theory!

Instructions
50 XP
Possible answers


The number of unique films in the reviews table.

The number of records containing a film_id.

The total number of records in the reviews table.

The sum of the film_id field.

In [ ]:
SELECT COUNT(film_id) AS count_film_id
FROM reviews;

# Practice with COUNT()
As you've seen, COUNT(*) tells you how many records are in a table. However, if you want to count the number of non-missing values in a particular field, you can call COUNT() on just that field.

Let's get some practice with COUNT()! You can look at the data in the tables throughout these exercises by clicking on the table name in the console.

Instructions 1/3
35 XP
Count the total number of records in the people table, aliasing the result as count_records.

In [ ]:
-- Count the number of records in the people table
SELECT COUNT(*) AS count_records
FROM people;

Instructions 2/3
Count the number of records with a birthdate in the people table, aliasing the result as count_birthdate.

In [ ]:
-- Count the number of birthdates in the people table
SELECT COUNT(birthdate) AS count_birthdate
FROM people;

Instructions 3/3
Count the records for languages and countries in the films table; alias as count_languages and count_countries.

In [ ]:
-- Count the records for languages and countries represented in the films table
SELECT COUNT(language) AS count_languages, COUNT(country) AS count_countries
FROM films;

# SELECT DISTINCT
Often query results will include many duplicate values. You can use the DISTINCT keyword to select the unique values from a field.

This might be useful if, for example, you're interested in knowing which languages are represented in the films table. See if you can find out what countries are represented in this table with the following exercises.

Instructions 1/2
50 XP
1
Return the unique countries represented in the films table using DISTINCT.

In [ ]:
-- Return the unique countries from the films table
SELECT DISTINCT country
FROM films;

Instructions 2/2
Return the number of unique countries represented in the films table, aliased as count_distinct_countries.

In [ ]:
-- Count the distinct countries from the films table
SELECT COUNT(DISTINCT country) AS count_distinct_countries
FROM films;

# Debugging errors
Debugging is an essential skill for all coders, and it comes from making many mistakes and learning from them.

In this exercise, you'll be given some buggy code that you'll need to fix.

Instructions 1/3
35 XP
Debug and fix the SQL query provided.

In [ ]:
-- Debug this code
SELECT certification
FROM films
LIMIT 5;

Instructions 2/3
Find the two errors in this code; the same error has been repeated twice.

In [ ]:
-- Debug this code
SELECT film_id, imdb_score, num_votes
FROM reviews;

Instructions 3/3 Find the two bugs in this final query.

In [ ]:
-- Debug this code
SELECT COUNT(birthdate) AS count_birthdays
FROM people;

# Formatting
Readable code is highly valued in the coding community and professional settings. Without proper formatting, code and results can be difficult to interpret. You'll often be working with other people that need to understand your code or be able to explain your results, so having a solid formatting habit is essential.

In this exercise, you'll correct poorly written code to better adhere to SQL style standards.

Instructions
100 XP
Adjust the sample code so that it is in line with standard practices.

In [ ]:
-- Rewrite this query
SELECT
    person_id,
    role
FROM roles
LIMIT 10;

# Using WHERE with numbers
Filtering with WHERE allows you to analyze your data better. You may have a dataset that includes a range of different movies, and you need to do a case study on the most notable films with the biggest budgets. In this case, you'll want to filter your data to a specific budget range.

Now it's your turn to use the WHERE clause to filter numeric values!

Instructions 1/3
35 XP
Select the film_id and imdb_score from the reviews table and filter on scores higher than 7.0.

In [ ]:
-- Select film_id and imdb_score with an imdb_score over 7.0
SELECT film_id, imdb_score
FROM reviews
WHERE imdb_score > 7.0

Instructions 2/3 Select the film_id and facebook_likes of the first ten records with less than 1000 likes from the reviews table.

In [ ]:
-- Select film_id and facebook_likes for ten records with less than 1000 likes
SELECT film_id, facebook_likes
FROM reviews
WHERE facebook_likes < 1000
LIMIT 10;

Instructions 3/3 Count how many records have a num_votes of at least 100,000; use the alias films_over_100K_votes.

In [ ]:
-- Count the records with at least 100,000 votes
SELECT COUNT(*) AS films_over_100K_votes
FROM reviews
WHERE num_votes >= 100000;

# Using WHERE with text
WHERE can also filter string values.

Imagine you are part of an organization that gives cinematography awards, and you have several international categories. Before you confirm an award for every language listed in your dataset, it may be worth seeing if there are enough films of a specific language to make it a fair competition. If there is only one movie or a significant skew, it may be worth considering a different way of giving international awards.

Let's try this out!

Instructions
100 XP
Select and count the language field using the alias count_spanish.
Apply a filter to select only Spanish from the language field.

In [ ]:
-- Count the Spanish-language films
SELECT COUNT(language) AS count_spanish
FROM films
WHERE language = 'Spanish';

# Using AND
The following exercises combine AND and OR with the WHERE clause. Using these operators together strengthens your queries and analyses of data.

You will apply these new skills now on the films table.

Instructions 1/3
35 XP
Select the title and release_year for all German-language films released before 2000.

In [ ]:
-- Select the title and release_year for all German-language films released before 2000
SELECT title, release_year
FROM films
WHERE release_year < 2000 AND language = 'German';

Instructions 2/3 Update the query from the previous step to show German-language films released after 2000 rather than before.

In [ ]:
-- Update the query to see all German-language films released after 2000
SELECT title, release_year
FROM films
WHERE release_year > 2000
	AND language = 'German';

Instructions 3/3 Select all details for German-language films released after 2000 but before 2010 using only WHERE and AND.

In [ ]:
-- Select all records for German-language films released after 2000 and before 2010
SELECT *
FROM films
WHERE release_year > 2000
	AND release_year < 2010
	AND language = 'German';

# Using OR
This time you'll write a query to get the title and release_year of films released in 1990 or 1999, which were in English or Spanish and took in more than $2,000,000 gross.

It looks like a lot, but you can build the query up one step at a time to get comfortable with the underlying concept in each step. Let's go!

Instructions 1/3
35 XP
2
3
Select the title and release_year for films released in 1990 or 1999 using only WHERE and OR.

In [ ]:
-- Find the title and year of films from the 1990 or 1999
SELECT title, release_year
FROM films
WHERE release_year = 1990 OR release_year = 1999;

Instructions 2/3
35 XP
3
Filter the records to only include English or Spanish-language films.

In [ ]:
SELECT title, release_year
FROM films
WHERE (release_year = 1990 OR release_year = 1999)
-- Add a filter to see only English or Spanish-language films
	AND (language = 'English' OR language = 'Spanish');

Instructions 3/3
30 XP
Finally, restrict the query to only return films worth more than $2,000,000 gross.

In [ ]:
SELECT title, release_year
FROM films
WHERE (release_year = 1990 OR release_year = 1999)
	AND (language = 'English' OR language = 'Spanish')
-- Filter films with more than $2,000,000 gross
	AND (gross > 2000000);

# Using BETWEEN
Let's use BETWEEN with AND on the films database to get the title and release_year of all Spanish-language films released between 1990 and 2000 (inclusive) with budgets over $100 million.

We have broken the problem into smaller steps so that you can build the query as you go along!

Instructions 1/4
25 XP
2
3
4
Select the title and release_year of all films released between 1990 and 2000 (inclusive) using BETWEEN.

In [ ]:
-- Select the title and release_year for films released between 1990 and 2000
SELECT title, release_year
FROM films
WHERE release_year
BETWEEN 1990 AND 2000;

Instructions 2/4
25 XP
3
4
Build on your previous query to select only films with a budget over $100 million.

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
-- Narrow down your query to films with budgets > $100 million
	AND budget > 100000000;

Instructions 3/4
25 XP
3
4
Now, restrict the query to only return Spanish-language films.

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
	AND budget > 100000000
-- Restrict the query to only Spanish-language films
	AND language = 'Spanish';

Instructions 4/4
25 XP
Finally, amend the query to include all Spanish-language or French-language films with the same criteria.

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
	AND budget > 100000000
-- Amend the query to include Spanish or French-language films
	AND (language = 'Spanish' OR language = 'French');

# LIKE and NOT LIKE
The LIKE and NOT LIKE operators can be used to find records that either match or do not match a specified pattern, respectively. They can be coupled with the wildcards % and _. The % will match zero or many characters, and _ will match a single character.

This is useful when you want to filter text, but not to an exact word.

Do the following exercises to gain some practice with these keywords.

Instructions 1/3
35 XP
Select the names of all people whose names begin with 'B'.

In [ ]:
-- Select the names that start with B
SELECT name
FROM people
WHERE name LIKE 'B%';

Instructions 2/3 Select the names of people whose names have 'r' as the second letter.

In [ ]:
SELECT name
FROM people
-- Select the names that have r as the second letter
WHERE name LIKE '_r%';

Instructions 3/3
Select the names of people whose names don't start with 'A'.

In [ ]:
SELECT name
FROM people
-- Select names that don't start with A
WHERE name NOT LIKE 'A%';

# WHERE IN
You now know you can query multiple conditions using the IN operator and a set of parentheses. It is a valuable piece of code that helps us keep our queries clean and concise.

Try using the IN operator yourself!

Instructions 1/3
35 XP
Select the title and release_year of all films released in 1990 or 2000 that were longer than two hours.

In [ ]:
-- Find the title and release_year for all films over two hours in length released in 1990 and 2000
SELECT title, release_year
FROM films
WHERE (release_year = 1990 OR release_year = 2000) AND
    (duration > 120)

Instructions 2/3
Select the title and language of all films in English, Spanish, or French using IN.

In [ ]:
SELECT title, language
FROM films
WHERE language IN ('English', 'Spanish', 'French');

Instruction 3/3
Select the title, certification and language of all films certified NC-17 or R that are in English, Italian, or Greek.

In [ ]:
-- Find the title, certification, and language all films certified NC-17 or R that are in English, Italian, or Greek
SELECT title, certification, language
FROM films
WHERE (certification = 'R' OR certification = 'NC-17')
    AND (language = 'English' OR language = 'Italian' OR language = 'Greek');

# Combining filtering and selecting
Time for a little challenge. So far, your SQL vocabulary from this course includes COUNT(), DISTINCT, LIMIT, WHERE, OR, AND, BETWEEN, LIKE, NOT LIKE, and IN. In this exercise, you will try to use some of these together. Writing more complex queries will be standard for you as you become a qualified SQL programmer.

As this query will be a little more complicated than what you've seen so far, we've included a bit of code to get you started. You will be using DISTINCT here too because, surprise, there are two movies named 'Hamlet' in this dataset!

Follow the instructions to find out what 90's films we have in our dataset that would be suitable for English-speaking teens.

Instructions
100 XP
Count the unique titles from the films database and use the alias provided.
Filter to include only movies with a release_year from 1990 to 1999, inclusive.
Add another filter narrowing your query down to English-language films.
Add a final filter to select only films with 'G', 'PG', 'PG-13' certifications.

In [ ]:
-- Count the unique titles
SELECT COUNT(DISTINCT title) AS nineties_english_films_for_teens
FROM films
-- Filter to release_years to between 1990 and 1999
WHERE release_year BETWEEN 1990 AND 1999
-- Filter to English-language films
	AND language = 'English'
-- Narrow it down to G, PG, and PG-13 certifications
	AND (certification = 'G' OR certification = 'PG' OR certification = 'PG-13');

# Practice with NULLs
Well done. Now that you know what NULL means and what it's used for, it's time for some more practice!

Let's explore the films table again to better understand what data you have.

Instructions 1/2
50 XP
Select the title of every film that doesn't have a budget associated with it and use the alias no_budget_info.

In [ ]:
-- List all film titles with missing budgets
SELECT title AS no_budget_info
FROM films
WHERE budget IS NULL;

Instructions 2/2
Count the number of films with a language associated with them and use the alias count_language_known.

In [ ]:
-- Count the number of films we have language data for
SELECT COUNT(*) AS count_language_known
FROM films
WHERE language IS NOT NULL;

# Practice with aggregate functions
Now let's try extracting summary information from a table using these new aggregate functions. Summarizing is helpful in real life when extracting top-line details from your dataset. Perhaps you'd like to know how old the oldest film in the films table is, what the most expensive film is, or how many films you have listed.

Now it's your turn to get more insights about the films table!

Instructions 1/4
25 XP
Use the SUM() function to calculate the total duration of all films and alias with total_duration.

In [ ]:
-- Query the sum of film durations
SELECT SUM(duration) AS total_duration
FROM films;

Instructions 2/4
Calculate the average duration of all films and alias with average_duration.

In [ ]:
-- Calculate the average duration of all films
SELECT AVG(duration) AS average_duration
FROM films;

Instructions 3/4
Find the most recent release_year in the films table, aliasing as latest_year.

In [ ]:
-- Find the latest release_year
SELECT MAX(release_year) AS latest_year
FROM films;

Instructions 4/4
Find the duration of the shortest film and use the alias shortest_film.

In [ ]:
-- Find the duration of the shortest film
SELECT MIN(duration) AS shortest_film
FROM films;

# Combining aggregate functions with WHERE
When combining aggregate functions with WHERE, you get a powerful tool that allows you to get more granular with your insights, for example, to get the total budget of movies made from the year 2010 onwards.

This combination is useful when you only want to summarize a subset of your data. In your film-industry role, as an example, you may like to summarize each certification category to compare how they each perform or if one certification has a higher average budget than another.

Let's see what insights you can gain about the financials in the dataset.

Instructions 1/4
25 XP
Use SUM() to calculate the total gross for all films made in the year 2000 or later, and use the alias total_gross.

In [ ]:
-- Calculate the sum of gross from the year 2000 or later
SELECT SUM(gross) AS total_gross
FROM films
WHERE release_year >= 2000;

Instructions 2/4

Calculate the average amount grossed by all films whose titles start with the letter 'A' and alias with avg_gross_A.

In [ ]:
-- Calculate the average gross of films that start with A
SELECT AVG(gross) AS avg_gross_A
FROM films
WHERE title LIKE 'A%';

Instructions 3/4

Calculate the lowest gross film in 1994 and use the alias lowest_gross.

In [ ]:
-- Calculate the lowest gross film in 1994
SELECT MIN(gross) AS lowest_gross
FROM films
WHERE release_year = 1994;

Instructions 4/4

Calculate the highest gross film between 2000 and 2012, inclusive, and use the alias highest_gross.

In [ ]:
-- Calculate the highest gross film released between 2000-2012
SELECT MAX(gross) AS highest_gross
FROM films
WHERE release_year BETWEEN 2000 AND 2012;

# Using ROUND()
Aggregate functions work great with numerical values; however, these results can sometimes get unwieldy when dealing with long decimal values. Luckily, SQL provides you with the ROUND() function to tame these long decimals.

If asked to give the average budget of your films, ten decimal places is not necessary. Instead, you can round to two decimal places to create results that make more sense for currency.

Now you try!

Instructions
100 XP
Calculate the average facebook_likes to one decimal place and assign to the alias, avg_facebook_likes.

In [ ]:
-- Round the average number of facebook_likes to one decimal place
SELECT ROUND(AVG(facebook_likes), 1) AS avg_facebook_likes
FROM reviews;

# ROUND() with a negative parameter
A useful thing you can do with ROUND() is have a negative number as the decimal place parameter. This can come in handy if your manager only needs to know the average number of facebook_likes to the hundreds since granularity below one hundred likes won't impact decision making.

Social media plays a significant role in determining success. If a movie trailer is posted and barely gets any likes, the movie itself may not be successful. Remember how 2020's "Sonic the Hedgehog" movie got a revamp after the public saw the trailer?

Let's apply this to other parts of the dataset and see what the benchmark is for movie budgets so, in the future, it's clear whether the film is above or below budget.

Instructions
100 XP
Calculate the average budget from the films table, aliased as avg_budget_thousands, and round to the nearest thousand.

In [ ]:
-- Calculate the average budget rounded to the thousands
SELECT ROUND(AVG(budget), -3) AS avg_budget_thousands
FROM films;

# Aliasing with functions
Aliasing can be a lifesaver, especially as we start to do more complex SQL queries with multiple criteria. Aliases help you keep your code clean and readable. For example, if you want to find the MAX() value of several fields without aliasing, you'll end up with the result with several columns called max and no idea which is which. You can fix this with aliasing.

Now, it's over to you to clean up the following queries.

Instructions 1/3
35 XP
Select the title and duration in hours for all films and alias as duration_hours; since the current durations are in minutes, you'll need to divide duration by 60.0.

In [ ]:
-- Calculate the title and duration_hours from films
SELECT title, (duration / 60.0) AS duration_hours
FROM films;

Instructions 2/3

Calculate the percentage of people who are no longer alive and alias the result as percentage_dead.

In [ ]:
-- Calculate the percentage of people who are no longer alive
SELECT COUNT(deathdate) * 100.0 / COUNT(*) AS percentage_dead
FROM people;

Instructions 3/3

Find how many decades (period of ten years) the films table covers by using MIN() and MAX() -- alias as number_of_decades.

In [ ]:
-- Find the number of decades in the films table
SELECT (MAX(release_year) - MIN(release_year)) / 10.0 AS number_of_decades
FROM films;

## Sorting single fields
Now that you understand how ORDER BY works, you'll put it into practice. In this exercise, you'll work on sorting single fields only. This can be helpful to extract quick insights such as the top-grossing or top-scoring film.

The following exercises will help you gain further insights into the film database.

Instructions 1/2
50 XP
Select the name of each person in the people table, sorted alphabetically.

In [ ]:
-- Select name from people and sort alphabetically
SELECT name
FROM people
ORDER BY name DESC;

Instructions 2/2

Select the title and duration for every film, from longest duration to shortest.

In [ ]:
-- Select the title and duration from longest to shortest film
SELECT title, duration
FROM films
ORDER BY duration DESC;